
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
addressbook-web-test/build/tmp/testAll/jar_extract_4027288612528246751_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_4193007828380198246_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_5414185091274156500_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_6069751233375768913_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_612154103054171532_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_7118319453632137246_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_7777012240174014962_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_8752728866312492984_tmp
*.iml
*.iml
*.iml
.idea/modules/addressbook-web-test_test.iml
*.xml
*.bin
*.lock
.idea/modules/addressbook-web-test_main.iml
*.iml
addressbook-web-test/build/tmp/testAll/jar_extract_1714662170829511393_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_1796220644368013557_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_2261168558009588861_tmp
addressbook-web-test/build/tmp/testGroups/jar_extract_7170067477549315071_tmp
addressbook-web-test/build/tmp/testGroups/jar_extract_5558039887767763515_tmp
addressbook-web-test/build/tmp/testGroups/jar_extract_2532572023074017906_tmp
addressbook-web-test/build/tmp/testContacts/jar_extract_6884752656282259605_tmp
addressbook-web-test/build/tmp/testContacts/jar_extract_5876985726582901462_tmp
addressbook-web-test/build/tmp/testContacts/jar_extract_4261693451793898521_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_765100993030103463_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_5276633553108394084_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_4838274163129989805_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_4514534414094730291_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_4064321215838299406_tmp
addressbook-web-test/build/tmp/testAll/jar_extract_3441645485454376836_tmp
*.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.ContactCreationTests.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.ContactDeletionTests.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.ContactModificationTest.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.GroupCreationTests.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.GroupDeletionTests.html
addressbook-web-test/build/reports/tests/testAll/classes/ru.stqa.pft.adressbook.tests.GroupModificationTest.html
addressbook-web-test/build/reports/tests/testAll/index.html
addressbook-web-test/build/reports/tests/testAll/packages/ru.stqa.pft.adressbook.tests.html
addressbook-web-test/build/reports/tests/testContacts/classes/ru.stqa.pft.adressbook.tests.ContactCreationTests.html
addressbook-web-test/build/reports/tests/testContacts/classes/ru.stqa.pft.adressbook.tests.ContactDeletionTests.html
addressbook-web-test/build/reports/tests/testContacts/classes/ru.stqa.pft.adressbook.tests.ContactModificationTest.html
*.html
*.html
addressbook-web-test/build/reports/tests/testContacts/index.html
addressbook-web-test/.gradle/4.7/fileContent/annotation-processors.bin
addressbook-web-test/.gradle/4.7/fileContent/fileContent.lock
addressbook-web-test/.gradle/4.7/fileHashes/fileHashes.bin
addressbook-web-test/.gradle/4.7/fileHashes/fileHashes.lock
addressbook-web-test/.gradle/4.7/fileHashes/resourceHashesCache.bin
addressbook-web-test/.gradle/4.7/taskHistory/taskHistory.bin
addressbook-web-test/.gradle/4.7/taskHistory/taskHistory.lock
addressbook-web-test/.gradle/buildOutputCleanup/buildOutputCleanup.lock
*.lock
*.lock
*.bin
*.xml
*.iml
надо в файле .gitignore вот эти строчки
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
перенести в конец (ну или по крайней мере после строки
*.jar
